@font-face {
    font-family: "poppins";
    src: url("../fonts/poppins.regular.ttf");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


/* --------------- Header Styles --------------- */
header {
    background-color: rgb(133, 185, 198);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Navigation container */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
}

/* Each list item */
nav ul li {
    padding: 1rem 1.5rem;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

/* Hover effect on the entire li block */
nav ul li:hover {
    background-color: #8BC34A;
}

/* Navigation text */
.NavText {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    display: block;
}

/* Logo image */
nav ul li img {
    float: left;
    padding: 0.5rem;
    margin-left: 0.5rem;
}

/* Logo container */
.navLogoImage {
    width: 4.3rem;
}

.NavText {
    text-decoration: none;
    color: #ffffff;
    padding: 1rem;
    font-family: poppins, sans-serif;
    font-weight: bold;
    font-size: medium;
}

nav ul li:not(:first-child) {
    float: right;
}

nav ul li img {
    float: left;
    padding: 0.5rem;
    margin-left: 0.5rem;
}


.navList {
    float: left;
}


.navLogoImage {
    width: 5rem;
}

/* --------------- Main Content Styles --------------- */

main {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.content {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border: none;
    pointer-events: none;
}

.Earth_sea_image {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
}


.layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: black;
    opacity: 0.8;
    font-size: 2rem;
    z-index: 1;
}


.Earth_sea_image {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
    aspect-ratio: 1/1;
    margin-top: 14%;
    border: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 20px;
}

.Earth_sea_image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
}

#rotateImage {
    z-index: 2;
    transition: transform 0.5s ease;
}

#stillImage {
    z-index: 1;
    border: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 20px;
}


#rotateImage:hover {
    transform: rotate(180deg);
}


.left-student,
.right-student {
    position: absolute;
    top: 30%;
    z-index: 2;
    width: 200px;
    height: auto;
    background-color: rgba(133, 185, 198, 0.7);
    border: solid;
    border-color: #F9FAFB;
    border-radius: 20px;
    transition: box-shadow 0.4s ease, transform 0.4s ease;
    box-shadow: none;
}

.left-student:hover,
.right-student:hover {
    border-color: blue;
    background-color: rgb(98, 174, 193);
    box-shadow:
        0 0 10px rgba(0, 183, 255, 1),
        0 0 20px rgba(0, 183, 255, 0.8),
        0 0 40px rgba(0, 183, 255, 0.6),
        0 0 80px rgba(0, 183, 255, 0.4);
}


.left-student {
    left: 1%;
}

.left-student:hover {
    transform: scale(1.05) rotate(-5deg);
}

.right-student {
    right: 1%;
}

.right-student:hover {
    transform: scale(1.05) rotate(5deg);
}

.left-student img,
.right-student img {
    width: 100%;
    height: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#HomeTitle {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    color: #ffffff;

    width: 80%;
    /* Responsive width */
    max-width: 600px;
    /* Optional max width */
    padding: 1rem;

    background-color: #2C3E50;
    border: solid;
    border-color: #F9FAFB;
    border-radius: 20px;
    font-family: poppins, sans-serif;
    text-align: center;
    font-size: 1.9rem;

    /* Animation for the title */
    animation-name: fadeIn;
    animation-duration: 5s;
}



.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 2rem;
    border: 1px solid #888;
    border-radius: 16px;
    width: 100%;
    max-width: 70%;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.image_container {
    position: relative;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    border: solid;
    border-radius: 5px;
    margin-top: 4%;
    padding: 5px;
}

#worldImage {
    width: 100%;
    height: auto;
    display: block;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ------- CSS for the pin ------- */
.pins {
    position: absolute;
    width: 75px;
    z-index: 1;
    animation-name: rotate;
    animation-duration: 5s;
    
}

.pin_container {
    position: absolute;
    z-index: 2;
}

.pin_container:hover {
    transform: scale(1.2);
}

.pin-info-box {
    display: none;
    position: absolute;
    max-width: 500px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.95);
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    font-size: 0.6rem;
    color: #000;
    padding: 0.3rem;
    z-index: 2000;
}

.pin-info-box img {
    max-height: 150px;
    height: auto;
    display: block;
}

.pin_container:hover .pin-info-box {
    display: block;
}

.pin-info-box::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background: linear-gradient(270deg,
            #85b9c6,
            #5be838,
            #8bc34a,
            #85b9c6);
    background-size: 600% 600%;
    border-radius: 15px;
    z-index: -1;
    animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/*-------------------------------------------------------*/

/* ----- Pin for animal 1 ----- */
#info-box-A1 {
    top: 0;
    left: 100%;
    margin-left: 50px;
}

#pin_container_1 {
    top: 35%;
    left: 10%;
}

/*--------------------------------*/

/* ----- Pin for animal 2 ----- */
#info-box-A2 {
    top: 0;
    left: 100%;
    margin-left: 50px;
}

#pin_container_2 {
    top: 65%;
    left: 75%;
}


/*--------------------------------*/

/* ----- Pin for animal 3 ----- */
#info-box-A3 {
    top: 0;
    left: 100%;
    margin-left: 50px;
}

#pin_container_3 {
    top: 30%;
    left: 70%;
}


/*--------------------------------*/

/* ----- Pin for animal 4 ----- */
#info-box-A4 {
    top: 0;
    left: 100%;
    margin-left: 50px;
}

#pin_container_4 {
    top: 55%;
    left: 78%;
}


/*--------------------------------*/

@keyframes textGradiant {
    0% {
        color: #85b9c6;
    }
    25% {
        color: #7cc1d2;
    }

    50% {
        color: #5be838;
    }

    100% {
        color: #8bc34a;
    }
}

#modalText {
    font-family: poppins;
    font-size: 2rem;
    color: black;
    text-align: center;
    margin-top: 1.5rem;
    animation-name: textGradiant;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}



#ExplorationImg {
    width: 45%;
}

/* -------- CSS for the footer -------- */

footer {
    background-color: rgb(68, 67, 67);
    color: white;
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1 1;
    margin: 0.5rem 0;
}

.footer-left {
    display: flex;
    justify-content: flex-start;
}

.footer-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

#logoEfrei {
    width: 4rem;
    height: auto;
}

/*---------------------------------------------*/