@font-face {
    font-family: "poppins";
    src: url("../fonts/poppins.regular.ttf");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


header {
    background-color: rgb(133, 185, 198);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 2rem;
}

ul li {
    text-decoration: none;
    padding-top: 2rem;
    font-size: 20px;
}

.NavText {
    text-decoration: none;
    color: #ffffff;
    padding: 1rem;
    font-weight: bold;
}

.NavText:hover {
    text-decoration: underline;
}

nav ul li:not(:first-child) {
    float: right;
}

nav ul li img {
    float: left;
    padding: 0.5rem;
    margin-left: 0.5rem;
}


.navList {
    float: left;
}


.navLogoImage {
    width: 5rem;
}



main {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.content {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border: none;
    pointer-events: none;
}

.Earth_sea_image {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
}


.layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: black;
    opacity: 0.8;
    font-size: 2rem;
    z-index: 1;
}


.Earth_sea_image {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
    aspect-ratio: 1/1;
    margin-top: 14%;
    border: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 20px;
}

.Earth_sea_image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
}

#rotateImage {
    z-index: 2;
    transition: transform 0.5s ease;
}

#stillImage {
    z-index: 1;
    border: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 20px;
}


#rotateImage:hover {
    transform: rotate(180deg);
}


.left-student,
.right-student {
    position: absolute;
    top: 30%;
    z-index: 2;
    width: 200px;
    height: auto;
    background-color: rgba(133, 185, 198, 0.7);
    border: solid;
    border-color: #F9FAFB;
    border-radius: 20px;
    transition: box-shadow 0.4s ease, transform 0.4s ease;
    box-shadow: none;
}

.left-student:hover,
.right-student:hover {
    border-color: blue;
    background-color: rgb(98, 174, 193);
    box-shadow:
        0 0 10px rgba(0, 183, 255, 1),
        0 0 20px rgba(0, 183, 255, 0.8),
        0 0 40px rgba(0, 183, 255, 0.6),
        0 0 80px rgba(0, 183, 255, 0.4);
}


.left-student {
    left: 1%;
}

.left-student:hover {
    transform: scale(1.05) rotate(-5deg);
}

.right-student {
    right: 1%;
}

.right-student:hover {
    transform: scale(1.05) rotate(5deg);
}

.left-student img,
.right-student img {
    width: 100%;
    height: auto;
}

#HomeTitle {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    color: #ffffff;

    width: 80%;
    /* Responsive width */
    max-width: 600px;
    /* Optional max width */
    padding: 1rem;

    background-color: #2C3E50;
    border: solid;
    border-color: #F9FAFB;
    border-radius: 20px;
    text-align: center;
    font-size: 1.9rem;
}



.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 2rem;
    border: 1px solid #888;
    border-radius: 16px;
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

#worldImage {
    width: 50%;
}

footer {
    background-color: rgb(68, 67, 67);
    color: white;
    padding: 0.5rem;
    position: relative;
    height: 150px; /* Adjust height as needed */
}


.footer-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.footer-bottom-right {
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;
}


#logoEfrei {
    width: 5rem;
    height: auto;
}
